

body {
    background-color: #d8c893;
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    color: #000000;
    text-align: center;
}

p {
    font-size: 18px;
    color: #b48585;
    text-align: center;
}
